@model MRTAssignment.Models.PassengerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="font-family:Calibri;">
    <div align="center">
        <h2>Welcome to MRT Online</h2>
        @using (Html.BeginForm("Index"))
        {
            <p>Ticket quantity: @Html.TextBoxFor(x => x.ticketQty, new { type = "number", required = "required" })</p>
            <p>
                One-way/ Returning: @Html.DropDownListFor(x => x.ticketType, new[]{
new SelectListItem() {Text = "One-way Ticket", Value = "One-way"},
new SelectListItem() {Text = "Return Ticket", Value = "Return"}
}, "Choose an option")
            </p>
            <p>
                Senior/ Disabled/ Student:

                @Html.DropDownListFor(x => x.passengerType, new[]{
    new SelectListItem() {Text = "Senior Citizen", Value = "Senior Citizen"},
    new SelectListItem() {Text = "Disabled", Value = "Disabled"},
    new SelectListItem() {Text = "Student", Value = "Student"},
    new SelectListItem() {Text = "None", Value = "None"}
    }, "Choose an option")

            </p>

            <p>
                @Html.DropDownListFor(x => x.stationFrom, new[] {
                   new SelectListItem() { Text = "Sungai Buloh", Value = "0" },
                   new SelectListItem() { Text = "Kampung Selamat", Value = "1" },
                   new SelectListItem() { Text = "Kwasa Damansara", Value = "2" },
                   new SelectListItem() { Text = "Kwasa Sentral", Value = "3" },
                   new SelectListItem() { Text = "Kota Damansara", Value = "4" },
                   new SelectListItem() { Text = "Surian", Value = "5" },
                   new SelectListItem() { Text = "Mutiara Damansara", Value = "6" },
                   new SelectListItem() { Text = "Bandar Utama", Value = "7" },
                   new SelectListItem() { Text = "Taman Tun Dr. Ismail", Value = "8" },
                   new SelectListItem() { Text = "Phileo Damansara", Value = "9" },
                   new SelectListItem() { Text = "Pusat Bandar Damansara", Value = "10" },
                   new SelectListItem() { Text = "Samantan", Value = "11" },
                   new SelectListItem() { Text = "Muzium Negara", Value = "12" },
                   new SelectListItem() { Text = "Pasar Seni", Value = "13" },
                   new SelectListItem() { Text = "Merdeka", Value = "14" },
                   new SelectListItem() { Text = "Bukit Bintang", Value = "15" },
                   new SelectListItem() { Text = "Tun Razak Exchange", Value = "16" },
                   new SelectListItem() { Text = "Cochrane", Value = "17" },
                   new SelectListItem() { Text = "Maluri", Value = "18" },
                   new SelectListItem() { Text = "Taman Pertama", Value = "19" },
                   new SelectListItem() { Text = "Taman Midah", Value = "20" },
                   new SelectListItem() { Text = "Taman Mutiara", Value = "21" },
                   new SelectListItem() { Text = "Taman Connaught", Value = "22" },
                   new SelectListItem() { Text = "Taman Suntex", Value = "23" },
                   new SelectListItem() { Text = "Sri Raya", Value = "24" },
                   new SelectListItem() { Text = "Bandar Tun Hussein Onn", Value = "25" },
                   new SelectListItem() { Text = "Batu Sebelas Cheras", Value = "26" },
                   new SelectListItem() { Text = "Bukit Dukung", Value = "27" },
                   new SelectListItem() { Text = "Sungai Jernih", Value = "28" },
                   new SelectListItem() { Text = "Stadium Kajang", Value = "29" },
                   new SelectListItem() { Text = "Kajang", Value = "30" }
                }, "Current station")
            </p>

            <p>
                @Html.DropDownListFor(x => x.stationTo, new[] {
                   new SelectListItem() { Text = "Sungai Buloh", Value = "0" },
                   new SelectListItem() { Text = "Kampung Selamat", Value = "1" },
                   new SelectListItem() { Text = "Kwasa Damansara", Value = "2" },
                   new SelectListItem() { Text = "Kwasa Sentral", Value = "3" },
                   new SelectListItem() { Text = "Kota Damansara", Value = "4" },
                   new SelectListItem() { Text = "Surian", Value = "5" },
                   new SelectListItem() { Text = "Mutiara Damansara", Value = "6" },
                   new SelectListItem() { Text = "Bandar Utama", Value = "7" },
                   new SelectListItem() { Text = "Taman Tun Dr. Ismail", Value = "8" },
                   new SelectListItem() { Text = "Phileo Damansara", Value = "9" },
                   new SelectListItem() { Text = "Pusat Bandar Damansara", Value = "10" },
                   new SelectListItem() { Text = "Samantan", Value = "11" },
                   new SelectListItem() { Text = "Muzium Negara", Value = "12" },
                   new SelectListItem() { Text = "Pasar Seni", Value = "13" },
                   new SelectListItem() { Text = "Merdeka", Value = "14" },
                   new SelectListItem() { Text = "Bukit Bintang", Value = "15" },
                   new SelectListItem() { Text = "Tun Razak Exchange", Value = "16" },
                   new SelectListItem() { Text = "Cochrane", Value = "17" },
                   new SelectListItem() { Text = "Maluri", Value = "18" },
                   new SelectListItem() { Text = "Taman Pertama", Value = "19" },
                   new SelectListItem() { Text = "Taman Midah", Value = "20" },
                   new SelectListItem() { Text = "Taman Mutiara", Value = "21" },
                   new SelectListItem() { Text = "Taman Connaught", Value = "22" },
                   new SelectListItem() { Text = "Taman Suntex", Value = "23" },
                   new SelectListItem() { Text = "Sri Raya", Value = "24" },
                   new SelectListItem() { Text = "Bandar Tun Hussein Onn", Value = "25" },
                   new SelectListItem() { Text = "Batu Sebelas Cheras", Value = "26" },
                   new SelectListItem() { Text = "Bukit Dukung", Value = "27" },
                   new SelectListItem() { Text = "Sungai Jernih", Value = "28" },
                   new SelectListItem() { Text = "Stadium Kajang", Value = "29" },
                   new SelectListItem() { Text = "Kajang", Value = "30" }
                }, "Destination")
            </p>

            <input type="submit" value="Submit" />
        }

        <br /><br />
        <table width="100%" border="1">
            <thead>
                <tr>
                    <th>Station</th>
                    @for (int col = 0; col < ViewBag.Fare.GetLength(1); col++)
                    {
                        <th>@ViewBag.DictStation1[col]</th>
                    }
                </tr>
            </thead>
            @for (int row = 0; row < ViewBag.Fare.GetLength(0); row++)
            {
                <tr>
                    <td>@ViewBag.DictStation2[row]</td>

                    @for (int col = 0; col < ViewBag.Fare.GetLength(1); col++)
                    {
                        <td align="center">
                            @ViewBag.Fare[row, col].ToString("0.00")
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>
